
<%- include('partials/header'); -%>
<nav class="navbar">
    <div class="brand-title">Deep Space Website</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>

<h1 style="color: white; margin-top: 200px;text-align: center  ;font-style:unset;">Everything has its wonders, even darkness and silence . . .</h1>

<!-- <div class="jumbotron centered">
    <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">SDE of ID</h1>
    <p class="lead">Make your profile here and rate your colleagues</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/gallery" role="button">Gallery</a>
    <a class="btn btn-dark btn-lg" href="/updateData" role="button">updateData</a>
    <a class="btn btn-dark btn-lg" href="/profile" role="button">Profile</a>
    <a class="btn btn-dark btn-lg" href="/" role="button">Home</a>
    </div>
</div> -->
<%- include('partials/footer'); -%>




